
body{
  margin: 0;
  padding: 0;
    background-image: url(images/graund2.jpg);
    border-radius: 5px;
}
.slider h1{
    color: aliceblue;
 }
 .slider p{
    color: aliceblue;
    margin-right: 150px;
    text-align: right;
 }
 .slider a{
    color: antiquewhite;
    
 }
 .foto img{
   height: 550px;
   width:100%;
   margin-bottom: 10px;
   align-items: center;
   border: 5x solid #3dafe4;
   border-radius: 50px  10px;
   display: flex;
 }
 .texto img{
padding-bottom:15px ;
 }
 .texto h1{
   color: azure;
   padding: 2rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 3rem;
   border: 5px solid #3aa0cf;
   border-radius: 30px;
   display: flex;
   text-align: center;
   
 }
 .texto p{
   color: azure;
   padding-top: 2rem;
   padding-left: 15vh;
   padding-right: 2rem;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 1em;
   border: 5px solid #3dafe4;
   border-radius: 30px;
   display: flex;
 }
 header p{
  color: rgb(245, 247, 248);
 }
.texto a{
  font-size: 2rem;
  color: rgb(12, 82, 143);
  text-decoration: none;
}
#galeria{
  padding: 10px;

}
#galeria img{
  border: 5px solid #c9e1ec;
   border-radius:20px;
}
.barra{
  margin: 20%;

  
}
.barra h2{
  color: #eef0f1;
  font-size: 5vw;
}

