*{
  margin: 0;
  padding: 0;
}
body{
    background-image: url(images/graund2.jpg);
    border-radius: 5px;
}
.slider h1{
    color: aliceblue;
 }
 .slider p{
    color: aliceblue;
    margin-right: 150px;
    text-align: right;
 }
 .slider a{
    color: antiquewhite;
    
 }
 .foto img{
   height: 550px;
<<<<<<< HEAD
   width:80dvw;
=======
   width: 20.5rem;
>>>>>>> 789ca0dc066a532af73331765be7585192587877
   border: 5px solid #3dafe4;
   border-radius: 50px  10px;
   display: flex;
 }
 .texto h1{
   color: azure;
   padding-top: 5rem;
   padding-left: 5rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 3rem;
   border: 5px solid #3dafe4;
   border-radius: 50px  5px;
   display: flex;
   text-align: center;
 }
 .texto p{
   color: azure;
   padding-top: 2rem;
   padding-left: rem;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 1.5rem;
   border: 5px solid #3dafe4;
   border-radius: 5px  40px;
   text-align: right;
   display: flex;
 }
 header p{
  color: rgb(245, 247, 248);

 }
